#https://velog.io/@psk84/.gitignore-%EC%A0%81%EC%9A%A9%ED%95%98%EA%B8%B0

__pycache__/
.ipynb_checkpoints/
IntTest_unique-id_split/
#model_hx/
wandb/

*.ipynb
#*.csv
*.pickle
*.h5
*.npy

UKBiobank_Parser.py
IntTest-Checkup_unique_id.xlsx
IntTest_unique_id.xlsx
220620-Single-2_IntTest-Checkup_Results_BirthDeath_220622.csv
220620-Sinlg-2_IntTest_Results_BirthDeath_220622.csv